<% provide(:title, 'Create New Page') %>
<h1>Create a new gym_page</h1>

<%= form_for @gym do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :image %><br />
    <%= f.file_field :img, class: "image" %>
    <p><%= f.check_box :remove_img %>Delete the image.</p>
    <%= f.submit %>
<% end %>
